<div class="section">
  <div class="heading">
    <h2>Create New Post</h2>
  </div>
  <div id="content">
    <p>Title</p>
    <input type="text" />
    <p>Content</p>
    <textarea type="text"></textarea>
    <button>Create</button>
  </div>
</div>