{{!-- for each (loop to display) --}}
<div class="section">
  <div class="heading">
    <h2>*Blog Post title*</h2>
    <p>Posted by <span>*USER*</span> on <span>*DATE</span></p>
  </div>
  <div id="content">
    <p>*Text about whatever you want to put in here*</p>
  </div>
</div>

{{!-- comments (appear under post when user presses it) --}}
<div class="section">
  <div class="heading">
    <h2>comment</h2>
  </div>
  <div id="content">
    <textarea id="comment"></textarea>
    <button>Submit</button>
  </div>
</div>