<div class="section">
  <div class="heading">
    <h2>Login</h2>
  </div>
  <div id="content">
    <form id="login">
      <p>Username</p>
      <input type="text" id="username" />
      <p>Password</p>
      <input type="text" id="password" />
      <button type="submit">Login</button>
      <a href="/signup">Sign up instead</a>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>