<div class="section">
  <div class="heading">
    <h2>Sign Up</h2>
  </div>
  <div id="content">
    <p>Username</p>
    <input type="text" />
    <p>Password</p>
    <input type="text" />
    <button>Sign Up</button>
    <a href="***">Login instead</a>
  </div>
</div>