<div class="section" >
  <div class="heading">
    <h2>Sign Up</h2>
  </div>
  <div id="content">
    <form id="signup">
      <p>Username</p>
      <input type="text" id="username-signup" />
      <p>Password</p>
      <input type="text" id="password-signup" />
      <button type="submit">Sign Up</button>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>