<div class="section">
  <div class="heading">
    <h2>Edit Post</h2>
  </div>
  <div id="content">
    <p>{{blogEdit.title}}</p>
    <input type="text" />
    <p>Content</p>
    <textarea type="text"></textarea>
    <button>Update Post</button>
    <button>Delete</button>
  </div>
</div>